<p id="notice"><%= notice %></p>

<p>
  <strong>Idparcel:</strong>
  <%= @entry.idparcel %>
</p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Desti:</strong>
  <%= @entry.desti %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
